In [ ]:
for i in range(0,10) : 
    print(i,'hello world')

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world
5 hello world
6 hello world
7 hello world
8 hello world
9 hello world

In [4]:
my_list = ['a','b','c','d','e']

for i in my_list : 
    print(i)

a
b
c
d
e

In [ ]:
my_list = ['a','b','c','d','e']

for i in my_list : 
    print(i)

a
b
c
d
e

In [ ]:
my_list = ['지훈','종호','우진','은화','민우']
for i in my_list : 
    print('Hello')
    print(i)
    print('-------')

Hello
지훈
-------
Hello
종호
-------
Hello
우진
-------
Hello
은화
-------
Hello
민우
-------

In [ ]:
my_list = ['지훈','종호','우진','은화','민우']
for n, i in enumerate(my_list, start=1) : 
    print('오늘 {}번 째로 회사에 출근한 직원은 {} 입니다.'.format(n,i))

오늘 1번 째로 회사에 출근한 직원은 지훈 입니다.
오늘 2번 째로 회사에 출근한 직원은 종호 입니다.
오늘 3번 째로 회사에 출근한 직원은 우진 입니다.
오늘 4번 째로 회사에 출근한 직원은 은화 입니다.
오늘 5번 째로 회사에 출근한 직원은 민우 입니다.

In [ ]:
for i in range(1,11) : 
    if i % 2 == 0 :  
        print(i,"짝수입니다.") 
    elif i % 2 == 1 :
        print(i,'홀수입니다.')

1 홀수입니다.
2 짝수입니다.
3 홀수입니다.
4 짝수입니다.
5 홀수입니다.
6 짝수입니다.
7 홀수입니다.
8 짝수입니다.
9 홀수입니다.
10 짝수입니다.

In [ ]:
for x in range(2,10) : 
    for y in range (1,10) : 
        print(x, '*', y, '=', x * y)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
print('0부터 9까지')
i = 0
while(i < 10) : 
    print(i)
    i = i+1

0부터 9까지
0
1
2
3
4
5
6
7
8
9

In [19]:
x = 1
y = 1
while x < 9 : 
    x = x + 1
    y = 1
    while y < 10 : 
        print(x, '*', y, '=', x * y)
        y = y + 1
    if x  == 3 : 
        break

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [20]:
for i in range(1,11) : 
    if i % 2 == 0 : 
        continue
    print("숫자", i , "은/는 홀수 입니다.")

숫자 1 은/는 홀수 입니다.
숫자 3 은/는 홀수 입니다.
숫자 5 은/는 홀수 입니다.
숫자 7 은/는 홀수 입니다.
숫자 9 은/는 홀수 입니다.